/* Desktop */

body {
    width: 100vw;
    background-color: lightcyan;
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    background-color: lightcyan;
}

.nav {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.nav-button {
    flex: 1;
    background-color: blueviolet;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    border-style: solid;
    text-decoration: none;
    color: lightcyan;
}

.nav-button:hover, 
.nav-button:focus{
    opacity: 40%;
}

main {
    margin-top: 100px;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
}

#Portrait {
    border-radius: 50%;
}

/* long, yet more precise way to scroll the page the anchor in the navigation menu:

#About, #Experience, #Skills, #Projects, #Connect {
    scroll-margin-top: 100px;
}*/

/* shorter way to accomplish the same goal, yet need to make sure that targer element is associated with anchors 
section {
    scroll-margin-top: 100px; 
} */

section {
    margin: 20px 5%;
    padding: 20px;
    background-color: rgb(189, 245, 192);
    display: block;
    scroll-margin-top: 100px;
}

h2 {
    font-size: 150%;
    font-weight: bold;
    color: rgb(245, 90, 7);
    margin: 0;
    padding: 0;
}

.job {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.job-xps {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.job-title {
    font-weight: bold;
}

.job-dates {
    font-style: italic;
}

.job-description {
    display: flex;
    align-self: stretch;
    
}

#Skills .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#Skills .item {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10%;
    flex: 1;
}

#Connect .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

footer {
    padding-bottom: 0.5rem;
}

/* Mobile */

@media only screen and (max-width:500px) {

    body {
        width: 100vw;
        background-color: #f2ceae;
        color: #2a2b2f;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    header {
        margin: 0;
        padding: 0;
    }
    
    nav {
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        background-color: #8a8fb9;
    }
    
    .nav {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    
    .nav-button {
        flex: 1;
        background-color: #2a2b2f;
        padding: 0.5rem 1rem;
        border-radius: 10%;
        border-style: none;
        text-decoration: none;
        color: #bac2d9;
    }
    
    .nav-button:hover, 
    .nav-button:focus{
        opacity: 40%;
    }
    
    main {
        margin-top: 14rem;
    }
    
    h1 {
        margin: 0;
        padding: 0;
    }

    .indie-flower-regular {
        font-family: "Indie Flower", cursive;
        font-weight: 800;
        font-style: italic;
        margin: 0;
        padding: 0;
        color: #7b5940;
    }
    
    hr {
        width: 100%;
        margin: 1rem 0 0 0;
    }
    
    #Portrait {
        border-radius: 50%;
    }
    
    section {
        width: 80vw;
        margin: 20px auto;
        padding: 20px;
        background-color: #bac2d9;
        display: block;
        scroll-margin-top: 14rem;
        border-radius: 5%;
    }
    
    h2 {
        font-size: 150%;
        font-weight: bold;
        color: #7b5940;
        margin: 0.3rem auto 1rem auto;
        padding: 0;
    }
    
    p {
        margin: 0 auto;
    }

    .job {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    
    .job-xps {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .job-title {
        font-weight: bold;
        text-align: left;
    }
    
    .job-dates {
        font-style: italic;
        text-align: right;
    }
    
    .job-description {
        display: flex;
        text-align: left;
        padding: 0.5rem;
    }
    
    #Skills ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    #Skills li {
        background-color: aliceblue;
        padding: 5px;
        border-radius: 10%;
        flex: 1;
    }

    #Connect .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    footer {
        padding-bottom: 1rem;
    }
}

